/* .main-titulo{
    background-color: var(--blanco);
    margin: 0 0 30px;
    padding: 15px 0;
    justify-content: center;
    font-size: 26px;
} */

.card{
    background-color: var(--blanco);
    width: 45vw;
    max-width: 250px;
    height: auto;
    display: grid;
    border-radius: 8px;
    margin: auto;
}
.card-img{
    width: 45vw;
    max-width: 250px;
    height: 45vw;
    max-height: 250px;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card-img img{
    transition: all .7s ease;
    width: 100%;
}
.card-img:hover img{
    transform: scale(1.25);
}
.card-info{
    display: grid;
    grid-template-rows: auto 35px;
    height: auto;
    width: 45vw;
    max-width: 250px;
}
.card-info_a{
    color: var(--negro);
    text-decoration: none;
    margin: auto;
}
.card-info_h2{
    margin: 0;
    padding: 9px 40px;
    font-size: 1.1rem;
}
.card-info_h2:hover{
    text-decoration: underline;
}
.card-info_precio{
    margin: 0;
}
