<footer class="footer">
    <div class="footer-logo">
        <picture>    
            <source srcset="imagenes/logo.jpg" media="(min-width: 768px)">
            <img src="../../../assets/logof.png" alt="logo" class="footer-logo-img">
        </picture>
    </div>

    <div class="footer-redes">
        <h2 class="footer-titulos">Redes sociales</h2>
        <ul class="footer-redes-lista">
            <li class="footer-redes-item">
                <a href="https://www.facebook.com/Pasteleriaconamorr/">
                    <img src="../../../assets/Logo facebook.png" alt="ir a facebook" class="footer-redes-logo">
                </a>
            </li>
            <li class="footer-redes-item">
                <a href="https://www.instagram.com/melangemaricel/">
                    <img src="../../../assets/Logo instagram.png" alt="ir a instagram" class="footer-redes-logo">
                </a>
            </li>
        </ul>
    </div>

    <div class="footer-contacto">
        <h2 class="footer-titulos">Contacto</h2>
        <ul class="footer-contacto-lista">
            <li class="footer-contacto-item">WhatsApp : 11-4870-2106</li>
            <li class="footer-contacto-item">Telefono : 5549-5549</li>
            <li class="footer-contacto-item">Email: melangemaricel@gmail.com</li>
        </ul>
    </div> 

    <div class="footer-creditos">
        <p class="footer-creditos-p">Melange Maricel 2021 - Creado por Leonardo Valenti</p>
    </div>
</footer>