.main-titulo{
    background-color: var(--blanco);
    margin: 0 0 30px;
    padding: 15px 0;
    justify-content: center;
    font-size: 26px;
}
.destacado-producto{
    background-color: var(--blanco);
    width: 740px;
    height: 250px;
    display: grid;
    grid-template-columns: 250px 1fr;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 8px;
}
.destacado-img-contenedor{
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.destacado-img-contenedor img{
    transition: all .7s ease;
    width: 100%;
}
.destacado-img-contenedor:hover img{
    transform: scale(1.25);
}
.destacado-contenido{
    display: grid;
    grid-template-rows: auto 1fr 35px;
    height: 250px;
}
.destacado-a{
    color: var(--negro);
    text-decoration: none;
    margin: auto;
}
.destacado-titulo{
    margin: 0;
    padding: 9px 40px;
}
.destacado-titulo:hover{
    text-decoration: underline;
}
.destacado-descripcion{  
    margin: 0 30px;
    display: flex;
}
.destacado-precio{
    margin: 0;
    margin-right: 30px;
    text-align: end;
}
@media (max-width: 767px) {
    main{
        display: grid;
        min-height: calc(100vh - 490px);
    }
    .destacado-contenedor{
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        margin: 0 15px;
    }
    .main-titulo{
        font-size: 22px;
    }
    .destacado-producto{
        width: 250px;
        height: auto;
        grid-template-columns: 1fr;
    }
    .destacado-img-contenedor{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
    }
    .destacado-contenido{
        height: auto;
        grid-template-rows: 50px 0px 35px;
    }
    .destacado-titulo{
        font-size: 20px;
    }
    .destacado-descripcion{
        display: none;
    }
    .destacado-precio{
        margin: auto;
    }
}
@media (max-width: 375px) {
    .destacado-producto{
        width: 200px;
    }
    .destacado-img-contenedor{
        width: 200px;
        height: 200px;
    }
}