<main>
    <app-card></app-card>
</main>



<!-- <main>
    <h1 class="main-titulo">Todos los productos</h1>

    <div class="destacado-contenedor">

        <div class="destacado-producto">
            <div class="destacado-img-contenedor">
                <a href="#">
                    <img src="../../../assets/1.jpeg" alt="#">
                </a>
            </div>
            <div class="destacado-contenido">
                <a href="#" class="destacado-a">
                    <h2 class="destacado-titulo">Titulo que hay que arreglar</h2>
                </a>
                <p class="destacado-precio">Precio: $500</p>
            </div>
        </div>
        
        <div class="destacado-producto">
            <div class="destacado-img-contenedor">
                <a href="#">
                    <img src="../../../assets/1.jpeg" alt="#">
                </a>
            </div>
            <div class="destacado-contenido">
                <a href="#" class="destacado-a">
                    <h2 class="destacado-titulo">Titulo</h2>
                </a>
                <p class="destacado-precio">Precio: $500</p>
            </div>
        </div>

        <div class="destacado-producto">
            <div class="destacado-img-contenedor">
                <a href="#">
                    <img src="../../../assets/1.jpeg" alt="#">
                </a>
            </div>
            <div class="destacado-contenido">
                <a href="#" class="destacado-a">
                    <h2 class="destacado-titulo">Titulo</h2>
                </a>
                <p class="destacado-precio">Precio: $500</p>
            </div>
        </div>
        
        <div class="destacado-producto">
            <div class="destacado-img-contenedor">
                <a href="#">
                    <img src="../../../assets/1.jpeg" alt="#">
                </a>
            </div>
            <div class="destacado-contenido">
                <a href="#" class="destacado-a">
                    <h2 class="destacado-titulo">Titulo</h2>
                </a>
                <p class="destacado-precio">Precio: $500</p>
            </div>
        </div>

        <div class="destacado-producto">
            <div class="destacado-img-contenedor">
                <a href="#">
                    <img src="../../../assets/1.jpeg" alt="#">
                </a>
            </div>
            <div class="destacado-contenido">
                <a href="#" class="destacado-a">
                    <h2 class="destacado-titulo">Titulo</h2>
                </a>
                <p class="destacado-precio">Precio: $500</p>
            </div>
        </div>

        <div class="destacado-producto">
            <div class="destacado-img-contenedor">
                <a href="#">
                    <img src="../../../assets/1.jpeg" alt="#">
                </a>
            </div>
            <div class="destacado-contenido">
                <a href="#" class="destacado-a">
                    <h2 class="destacado-titulo">Titulo</h2>
                </a>
                <p class="destacado-precio">Precio: $500</p>
            </div>
        </div>

        <div class="destacado-producto">
            <div class="destacado-img-contenedor">
                <a href="#">
                    <img src="../../../assets/1.jpeg" alt="#">
                </a>
            </div>
            <div class="destacado-contenido">
                <a href="#" class="destacado-a">
                    <h2 class="destacado-titulo">Titulo</h2>
                </a>
                <p class="destacado-precio">Precio: $500</p>
            </div>
        </div>

        <div class="destacado-producto">
            <div class="destacado-img-contenedor">
                <a href="#">
                    <img src="../../../assets/1.jpeg" alt="#">
                </a>
            </div>
            <div class="destacado-contenido">
                <a href="#" class="destacado-a">
                    <h2 class="destacado-titulo">Titulo</h2>
                </a>
                <p class="destacado-precio">Precio: $500</p>
            </div>
        </div>

        <div class="destacado-producto">
            <div class="destacado-img-contenedor">
                <a href="#">
                    <img src="../../../assets/1.jpeg" alt="#">
                </a>
            </div>
            <div class="destacado-contenido">
                <a href="#" class="destacado-a">
                    <h2 class="destacado-titulo">Titulo</h2>
                </a>
                <p class="destacado-precio">Precio: $500</p>
            </div>
        </div>

        <div class="destacado-producto">
            <div class="destacado-img-contenedor">
                <a href="#">
                    <img src="../../../assets/1.jpeg" alt="#">
                </a>
            </div>
            <div class="destacado-contenido">
                <a href="#" class="destacado-a">
                    <h2 class="destacado-titulo">Titulo</h2>
                </a>
                <p class="destacado-precio">Precio: $500</p>
            </div>
        </div>

        <div class="destacado-producto">
            <div class="destacado-img-contenedor">
                <a href="#">
                    <img src="../../../assets/1.jpeg" alt="#">
                </a>
            </div>
            <div class="destacado-contenido">
                <a href="#" class="destacado-a">
                    <h2 class="destacado-titulo">Titulo</h2>
                </a>
                <p class="destacado-precio">Precio: $500</p>
            </div>
        </div>

        <div class="destacado-producto">
            <div class="destacado-img-contenedor">
                <a href="#">
                    <img src="../../../assets/1.jpeg" alt="#">
                </a>
            </div>
            <div class="destacado-contenido">
                <a href="#" class="destacado-a">
                    <h2 class="destacado-titulo">Titulo</h2>
                </a>
                <p class="destacado-precio">Precio: $500</p>
            </div>
        </div>
    </div> 
</main> -->