body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: var(--fondo);
    text-align: center;
    margin: auto;
}
main{
    min-height: calc(100vh - 305px);
}
.main-titulo{
    background-color: var(--blanco);
    margin: 0 0 30px;
    padding: 15px 0;
    justify-content: center;
    font-size: 26px;
}
.destacado-contenedor{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    width: 94vw;
    max-width: 1200px;
    margin: auto;
    row-gap: 20px;
    margin-bottom: 30px;
}
.destacado-producto{
    background-color: var(--blanco);
    width: 45vw;
    max-width: 250px;
    height: auto;
    display: grid;
    margin-bottom: 30px;
    border-radius: 8px;
    margin: auto;
}
.destacado-img-contenedor{
    width: 45vw;
    max-width: 250px;
    height: 45vw;
    max-height: 250px;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.destacado-img-contenedor img{
    transition: all .7s ease;
    width: 100%;
}
.destacado-img-contenedor:hover img{
    transform: scale(1.25);
}
.destacado-contenido{
    display: grid;
    grid-template-rows: auto 35px;
    height: auto;
    width: 45vw;
    max-width: 250px;
}
.destacado-a{
    color: var(--negro);
    text-decoration: none;
    margin: auto;
}
.destacado-titulo{
    margin: 0;
    padding: 9px 40px;
    font-size: 1.1rem;
}
.destacado-titulo:hover{
    text-decoration: underline;
}
.destacado-descripcion{  
    margin: 0 30px;
    display: flex;
}
.destacado-precio{
    margin: 0;
}
@media (max-width: 767px) {
    .destacado-contenedor{
        column-gap: 3vw;
    }   
}