body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: var(--fondo);
    text-align: center;
    margin: auto;
}
main{
    min-height: calc(100vh - 305px);
}








.slider{
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}
.slider-ul{
    padding: 0%;
    display: flex;
    width: 400%;

    animation: cambio 20s infinite;
    animation-direction: normal;
}
.slider-ul_li{
    list-style: none;
    width: 100%;
}
.slider-ul_li-img{
    width: 100%;
}
@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    /* tiempo de transicion */
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    /* tiempo de transicion */
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    /* tiempo de transicion */
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
/* swiper js */







.main-titulo{
    background-color: var(--blanco);
    margin: 0 0 30px;
    padding: 15px 0;
    justify-content: center;
    font-size: 26px;
}
.destacado-contenedor{
    width: 94vw;
    margin: auto;
}
.destacado-producto{
    background-color: var(--blanco);
    max-width: 800px;
    height: 250px;
    display: grid;
    grid-template-columns: 250px 1fr;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 8px;
}
.destacado-img-contenedor{
    width: 45vw;
    max-width: 250px;
    height: 45vw;
    max-height: 250px;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.destacado-img-contenedor img{
    transition: all .7s ease;
    width: 100%;
}
.destacado-img-contenedor:hover img{
    transform: scale(1.25);
}
.destacado-contenido{
    display: grid;
    grid-template-rows: auto 1fr 35px;
    height: 250px;
}
.destacado-a{
    color: var(--negro);
    text-decoration: none;
    margin: auto;
}
.destacado-titulo{
    margin: 0;
    padding: 9px 40px;
}
.destacado-titulo:hover{
    text-decoration: underline;
}
.destacado-descripcion{  
    margin: 0 30px;
    display: flex;
}
.destacado-precio{
    margin: 0;
    margin-right: 30px;
    text-align: end;
}
.ver-contenedor{
    margin-bottom: 30px;
}
.ver-productos{
    background-color: var(--blanco);
    text-decoration: none;
    color: var(--negro);
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}
.ver-productos:hover{
    text-decoration: underline;
}
@media (max-width: 767px) {
    main{
        min-height: calc(100vh - 490px);
    } 
    .destacado-contenedor{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        column-gap: 3vw;
        row-gap: 20px;
        margin-bottom: 30px;
    }
    .destacado-producto{
        width: 45vw;
        max-width: 250px;
        height: auto;
        grid-template-columns: 1fr;
        margin: auto;
    }
    .destacado-img-contenedor{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
    }
    .destacado-contenido{
        height: auto;
        grid-template-rows: auto 0px 35px;
    }
    .destacado-titulo{
        font-size: 20px;
    }
    .destacado-descripcion{
        display: none;
    }
    .destacado-precio{
        margin: auto;
    }
}