<nav class="encabezado"> 
    <ul class="lista" id="lista">
        <li class="lista-item">
            <a href="home.html" class="lista-item-link">Inicio</a>
        </li>
        <li class="lista-item">
            <a href="tienda.html" class="lista-item-link">Tienda</a>
        </li>
        <li>    
            <a href="home.html">
                <img src="../../../assets/logo.jpg" alt="Ir al inicio" class="logo">
            </a>
        </li>    
        <li class="lista-item">
            <a href="nosotros.html" class="lista-item-link">Nosotros</a>
        </li>
        <li class="lista-item">
            <a href="contacto.html" class="lista-item-link">Contacto</a>
        </li>
    </ul>
    
    <ul class="lista-oculta" id="lista-oculta">
        <li>
            <a class="boton" id="boton"></a>
        </li>
        <li class="lista-oculta-item">
            <a href="home.html">
                <img src="../../../assets/logo.jpg" alt="Ir al inicio" class="logo-767">
            </a>
        </li>
    </ul>
</nav> 