<app-nave></app-nave>
<main>
    <h1 class="main-titulo">Contacto</h1> 

    <div class="contacto-contenedor">
        <div class="contacto-datos">
            <h2 class="contacto-titulo">WhatsApp</h2>
            <p class="contacto-contenido">11-5549-5549</p>
        </div>
        <div class="contacto-datos">
            <h2 class="contacto-titulo">Email</h2>
            <p class="contacto-contenido">melangemaricel@gmail.com</p>
        </div>
        <div class="contacto-datos">
            <h2 class="contacto-titulo">Direccion(solo para retirar)</h2>
            <p class="contacto-contenido">Mataderos</p>
        </div>
        <div class="contacto-datos">
            <h2 class="contacto-titulo">Horario(solo para retirar)</h2>
            <p class="contacto-contenido">Lunes a Sabados de 8:00 a 13:00 y 15:00 a 20:00</p>
        </div>
        <div class="contacto-datos">
            <p class="contacto-contenido">Cualquier consulta que tengas podes mandarnos un mensaje por WhatsApp</p>
        </div>
    </div> 
</main>
<app-footer></app-footer>