:root{
    --blanco: #fff;
    --negro: #000;
    --gris_claro: #e6e6e6;
    --gris_oscuro: #5f5f5f;
    --negro_claro: rgba(0, 0, 0, 0.50);
    --negro_oscuro: rgba(0, 0, 0, 0.85);
    --fondo: radial-gradient(circle at 50% -20.71%, #fbe2d5 0, #fadace 10%, #f9d2c7 20%, #f7c9c1 30%, #f5c0bb 40%, #f2b5b5 50%, #eeabb1 60%, #eaa1ae 70%, #e699ae 80%, #e091af 90%, #da8bb1 100%);;
    --h1: 25px;
    --h2: 21px;
    --cont: 16px;
    }

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: var(--fondo);
    text-align: center;
    margin: auto;
}
main{
    min-height: calc(100vh - 305px);
}

/* Para que el footer se quede pegado abajo */
@media(max-width:767px){
    main{
        min-height: calc(100vh-490px);
    }
}